@import 'helpers/mixins';
@import 'helpers/variables';
@import 'layout/header';
@import 'layout/slider';
@import 'layout/product';
@import 'layout/main';
@import 'layout/contacts';
@import 'layout/signup';
@import 'layout/error404';
@import 'layout/footer';
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
hr,
strong,
b,
input,
select,
textarea,
.highcharts-title,
.highcharts-axis-labels,
.highcharts-yaxis-title {
    @include reset;
}

body {
    &.no-scroll {
        overflow: hidden;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #D9D9D9;
}

::-webkit-scrollbar-thumb {
    background-color: $orange;
    cursor: pointer;
}

.che-box {
    @include check-box;
}

textarea.form-control {
    height: 160px;
    resize: none;
}

section {
    @include section;
}

.title {
    @include title;
}

.bottom {
    @include bottom;
}

.alert {
    display: flex;
    align-items: center;
    border: $zero;
    margin: $zero;
    margin-top: $com-spacing-3;
    padding: $com-spacing-4;
    border-radius: 4px;
    gap: $com-spacing-2;
    height: 60px;
    p {
        color: $white;
        text-transform: capitalize;
        margin: $zero !important;
    }
    &.alert-success {
        background: linear-gradient(303.91deg, #1F7A66 7.57%, #60B3A7 94.39%);
    }
    &.alert-danger {
        background: linear-gradient(303.91deg, #C24848 7.57%, #D34A4A 94.39%);
    }
}

.advertising-banner {
    position: absolute;
    max-width: 160px;
    top: $zero;
    display: none;
    @media (min-width: 1900px) {
        display: block;
    }
    img {
        max-width: $fullwidth;
    }
}

.advertising-banner.right {
    right: -132px;
}

.advertising-banner.left {
    left: -132px;
}

.headtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $com-spacing-3;
    .title {
        display: flex;
        align-items: center;
        gap: $com-spacing-2;
        color: $orange;
    }
    .store {
        display: flex;
        align-items: center;
        position: relative;
        min-width: 178px;
        svg {
            position: absolute;
            left: $com-spacing-3;
        }
    }
    .form-control {
        background: #F6F1EA url(../images/arrow.svg) right 12px center no-repeat !important;
        border: 1px solid #E0DBD5;
        padding-left: 40px;
        height: 44px;
        option {
            padding: 0 !important;
        }
    }
    .scroll-box-wrapper {
        width: auto;
        @media (max-width: 1199px) {
            width: $fullwidth;
        }
    }
    .seeall {
        color: $orange;
        text-transform: capitalize;
        margin-inline-end: 106px;
        @media (max-width: 1199px) {
            display: none;
        }
        &:hover {
            text-decoration: underline
        }
    }
}

.carditem {
    @include carditem;
}

.form-control {
    @include input
}

select.form-control {
    -webkit-appearance: none;
    background: $white url(../images/arrow.svg) right 12px center no-repeat !important;
    background-position: $com-spacing-3 $com-spacing-4;
    @include transition(all 0.5s ease-in-out 0s);
}

.pagination {
    width: $fullwidth;
    margin-top: $com-spacing-6;
    justify-content: center;
    overflow: hidden;
    gap: $com-spacing-2;
    @media (max-width: 999px) {}
    li {
        display: $inline;
        a,
        span {
            @include flex;
            text-align: center;
            color: $blak;
            @include border-radius(4px !important);
            min-width: 38px;
            height: 38px;
            border: $zero;
            background: #e5e5e5;
            @include transition(all 0.5s ease-in-out 0s);
            color: $blak;
            &:focus {
                box-shadow: none !important;
            }
        }
        svg {
            width: 12px;
            height: 12px;
            @include transition(all 0.5s ease-in-out 0s);
        }
        &:first-child,
        &:last-child {
            a {
                color: $orange;
                font-size: 12px;
                svg {
                    max-width: 12px;
                    height: 12px;
                    fill: $orange;
                }
            }
        }
        &:last-child {
            svg {
                transform: rotate(-90deg);
            }
        }
        &:first-child {
            svg {
                transform: rotate(90deg);
            }
        }
    }
    .page-link.active,
    .page-link:hover {
        background: $orange !important;
        color: $white !important;
        svg {
            fill: $white;
        }
    }
}

.maplink {
    @include maplink;
}

.map-back {
    @include map-back;
}

.social {
    @include social;
}

.social-shear {
    @include social-shear;
}

.slider-loader {
    @include flex;
    position: absolute;
    left: $zero;
    right: $zero;
    width: 40px;
    height: $fullwidth;
    margin: $zero auto;
    z-index: 10;
    .spinner {
        width: 40px;
        height: 40px;
        border: 4px solid $ofwhite;
        border-top: 4px solid $orange;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.slick-loading {
    visibility: hidden;
}

.slick-loaded {
    visibility: visible;
    transition: visibility 0s 0s, opacity 0.3s ease;
}