.contacts {
    background: #cccccc1f;
    @media (max-width: 999px) {}
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $com-spacing-6;
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
        }
    }
    .item {
        .tag {
            color: $pink;
        }
        .title {
            font-size: 28px;
        }
        p {
            text-align: justify;
        }
        .rowbox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: $com-spacing-3;
            margin-top: $com-spacing-6;
            .infocontact {
                .title {
                    color: $pink;
                    font-size: 18px;
                    font-weight: 500;
                }
                a {
                    @include transition(all 0.5s ease-in-out 0s);
                    &:hover {
                        color: $pink;
                    }
                }
            }
        }
        .innermap {
            background: $white;
            margin-top: $com-spacing-3;
            iframe {
                border: $zero;
                width: $fullwidth;
                height: 200px;
                border-radius: 8px;
            }
        }
        .social-shear {
            justify-content: flex-start;
        }
    }
}

.privatepolicy,
.terms {
    background: #cccccc1f;
    overflow: inherit !important;
    .container {
        display: grid;
        align-items: flex-start;
        grid-template-columns: 200px 1fr;
        gap: $com-spacing-6;
        @media (max-width: 999px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .scroll {
        position: sticky;
        top: 120px;
        @media (max-width: 999px) {
            display: none;
        }
    }
    .listmenu {
        width: $fullwidth;
        overflow: hidden;
        a {
            position: relative;
            display: flex;
            margin-bottom: $com-spacing-2;
            color: $blak;
            background: $white;
            font-weight: 500;
            padding: $com-spacing-2 $com-spacing-4;
            border-radius: 8px;
            @include transition(all 0.5s ease-in-out 0s);
            text-transform: capitalize;
            &.active,
            &:hover {
                background: $pink;
                color: $white;
            }
        }
    }
    p {
        margin-top: $com-spacing-3;
    }
}

.faq {
    background: #cccccc1f;
    .accordion {
        width: $fullwidth;
        .accordion-item {
            position: relative;
            padding: $com-spacing-4;
            margin-bottom: $com-spacing-4;
            border-radius: 8px;
            border: $zero;
            border-bottom: 1px solid $ofwhite;
            &:last-child {
                margin: $zero;
            }
            .accordion-header {
                position: relative;
                color: $blak;
                font-size: 18px;
                font-weight: 700;
                cursor: pointer;
                &:after {
                    content: '+';
                    position: absolute;
                    right: $zero;
                    font-size: 30px;
                    font-weight: 500;
                    color: $blak;
                    transition: transform 0.3s ease;
                }
                &.active {
                    color: $pink;
                    &:after {
                        content: '-';
                    }
                }
            }
        }
    }
    .accordion-content {
        display: none;
        margin-top: $com-spacing-2;
    }
}

.framer-container {
    position: relative;
    width: $fullwidth;
    // height: 600px;
    padding: $com-spacing-9 $zero;
    // perspective: 100px;
    // transform-style: preserve-3d;
    overflow: hidden;
    background: linear-gradient(180deg, #ec008c14 54.343284104%, #ec008c75 100%);
    @media (max-width: 999px) {
        padding: $com-spacing-7 $zero;
        height: auto;
    }
    .tag {
        display: block;
        text-transform: capitalize;
        text-align: center;
        color: $pink;
    }
    .title {
        max-width: 800px;
        font-size: 44px;
        text-align: center;
        @media (max-width: 999px) {
            font-size: 24px;
        }
    }
    .container {
        max-width: 1330px;
        height: $fullwidth;
        @media (max-width: 999px) {
            max-width: 720px;
        }
        @media (max-width:767px) {
            max-width: 540px;
        }
    }
    .itemone {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: $fullwidth;
        @media (max-width: 1199px) {
            justify-content: center;
        }
        .squareimg {
            &:nth-child(1) {
                margin-left: -10%;
            }
            &:nth-child(3) {
                margin-right: -10%;
            }
        }
    }
    .squareimg {
        width: 320px;
        height: 234px;
        background: $white;
        border-radius: 16px;
        padding: $com-spacing-2;
        box-shadow: rgba(153, 153, 153, 0.13) 0px 5px 13px 0px;
        @media (max-width: 1199px) {
            display: none;
        }
    }
    .itemtow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 80%;
        margin: 80px $auto $zero $auto;
        @media (max-width: 1199px) {
            display: none;
        }
        .squareimg {
            width: 228px;
            height: 254px;
            &:nth-child(2) {
                width: 284px;
                height: 180px;
            }
        }
    }
    img {
        width: $fullwidth;
        height: $fullwidth;
        object-fit: cover;
        border-radius: 16px;
    }
}

.ourvision {
    .container {
        max-width: 1100px;
        @media (max-width: 999px) {
            max-width: 720px;
        }
        @media (max-width:767px) {
            max-width: 540px;
        }
    }
    .tag {
        display: block;
        text-transform: capitalize;
        text-align: center;
        color: $pink;
    }
    .numbers {
        display: flex;
        justify-content: space-between;
        @media (max-width: 999px) {
            flex-wrap: wrap;
        }
        .innernumber {
            margin-top: $com-spacing-8;
            min-width: 16%;
            @media (max-width: 999px) {
                margin-top: $com-spacing-6;
                min-width: 50%;
            }
            @media (max-width: 500px) {
                min-width: $fullwidth;
            }
            .title {
                text-align: center;
                color: $pink;
                @media (max-width: 999px) {}
            }
            p {
                margin-top: $com-spacing-1;
                text-align: center
            }
        }
    }
    .item {
        display: flex;
        align-items: center;
        margin-top: $com-spacing-8;
        @media (max-width: 999px) {
            max-width: $fullwidth;
            flex: $fullwidth;
            margin-top: $com-spacing-6;
            &:last-child {
                order: -1;
            }
        }
        p {
            margin-top: $com-spacing-3;
        }
    }
    .photo {
        width: $fullwidth;
        height: 522px;
        border-radius: 12px;
        background: $ofwhite;
        overflow: hidden;
        @media (max-width: 999px) {
            height: 320px;
        }
        img {
            width: $fullwidth;
            height: $fullwidth;
            object-fit: cover;
        }
    }
}

.about-page-team {
    background: #fef5f5;
    .text {
        margin-top: $com-spacing-3;
    }
    .item {
        margin-top: $com-spacing-8;
        @media (max-width: 999px) {
            margin-top: $com-spacing-6;
            max-width: 50%;
            flex: 50%;
        }
        @media (max-width: 767px) {
            max-width: $fullwidth;
            flex: $fullwidth;
        }
    }
    .team-one__single {
        position: relative;
        display: block;
    }
    .team-one__img {
        position: relative;
        display: block;
        width: $fullwidth;
        height: 340px;
        border-radius: 8px;
        background: $white;
        overflow: hidden;
        transition: all 500ms ease;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            background: #1b18254d;
            width: 0%;
            transform: translateY(100%);
            transition: all 500ms ease;
            border-radius: 8px;
            z-index: 1;
        }
        img {
            width: 100%;
            border-radius: 8px;
            transition: all 500ms ease;
            transform: scale(1);
        }
    }
    .social-shear {
        position: absolute;
        bottom: $com-spacing-5;
        right: $zero;
        left: $zero;
        margin: $zero;
        z-index: 100;
        transform: scaleY(0.0);
        transform-origin: center;
        transform-style: preserve-3d;
        transition: all 500ms ease;
        a {
            &::before {
                display: none;
            }
            &:hover {
                background: $white;
            }
        }
    }
    .team-one__single:hover .social-shear {
        transform: scaleY(1.0);
        -webkit-transition-delay: 500ms;
        -moz-transition-delay: 500ms;
        -ms-transition-delay: 500ms;
        -o-transition-delay: 500ms;
        transition-delay: 500ms;
    }
    .team-one__content {
        position: relative;
        display: block;
        text-align: center;
        padding: 23px 0 26px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        transition: all 500ms ease;
        z-index: 1;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            // background-color: rgb(189, 32, 32);
            // box-shadow: 0px 10px 60px 0px rgb(0, 0, 0, .05);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            border-bottom: 4px solid $pink;
            transform: scaleY(0);
            z-index: -1;
        }
    }
    .team-one__name {
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        color: $dark;
    }
    .team-one__title {
        font-weight: 500;
        text-align: center;
    }
    .team-one__single:hover .team-one__img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:before {
            transform: translateY(0);
            width: 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        img {
            transform: scale(1.05);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .team-one__single:hover .team-one__content {
        background: $white;
        &:before {
            transform: scaleY(1);
        }
    }
}