.overlaybox {
    position: fixed;
    inset: $zero;
    width: $fullwidth;
    height: $fullwidth;
    background: #000000cc;
    opacity: 0;
    visibility: hidden;
    @include transition(all 0.5s ease-in-out 0s);
    z-index: 1003;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.scroll-box-wrapper {
    @include scroll;
}

.hero-section {
    .container {
        display: grid;
        grid-template-columns: 218px 1fr;
        gap: $com-spacing-4;
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
        }
    }
    .iconfilter {
        display: none;
        gap: $com-spacing-1;
        background: #e5e5e5;
        padding: $com-spacing-1 $com-spacing-4;
        border-radius: 60px;
        max-width: 120px;
        text-transform: capitalize;
        @include transition(all 0.5s ease-in-out 0s);
        cursor: pointer;
        @media (max-width: 999px) {
            @include flex;
        }
        &:hover {
            background: #ccc;
        }
        svg {
            width: 20px;
            height: 20px;
        }
    }
    .sidebar {
        position: relative;
        padding-right: $com-spacing-3;
        border-right: 1px solid #E0DBD5;
        @include transition(all 0.5s ease-in-out 0s);
        .close-sidebar {
            position: absolute;
            right: $com-spacing-3;
            top: $com-spacing-3;
            display: none;
            cursor: pointer;
            color: $red;
            font-size: 40px;
            z-index: 10;
        }
        @media (max-width: 999px) {
            position: fixed;
            width: 280px;
            height: $fullwidth;
            left: -100%;
            top: $zero;
            background: $white;
            padding: $com-spacing-3;
            overflow: hidden;
            overflow-y: scroll;
            z-index: 1004;
            &.active {
                left: $zero;
            }
            .close-sidebar {
                display: block;
            }
        }
        .itemfilter {
            margin-bottom: $com-spacing-4;
            &:last-child {
                margin: $zero;
            }
            .title {
                font-size: 18px;
            }
            .che-box {
                display: block;
                margin-top: $com-spacing-2 !important;
            }
            &.nearest {
                background: #F0FDF4;
                border: 1px solid #B9F8CF;
                padding: $com-spacing-4;
                border-radius: 10px;
                .title {
                    display: flex;
                    align-items: center;
                    gap: $com-spacing-2;
                    font-size: 14px;
                    color: #0D542B;
                    svg {
                        min-width: 16px;
                    }
                }
                p {
                    font-size: 14px;
                    color: #016630;
                }
                span {
                    display: block;
                    line-height: 1;
                    font-size: 12px;
                    color: #00A63E;
                    margin-top: $com-spacing-1;
                }
            }
            .stylebar {
                position: relative;
                margin: auto;
                width: $fullwidth;
                height: 5px;
                background: #e9e9e9;
                @include border-radius(5px);
                margin-top: $com-spacing-4;
                .ui-slider-handle {
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    @include border-radius(50%);
                    background: $orange;
                    border: 3px solid #E5EBFC;
                    cursor: pointer;
                    outline: $none;
                    margin-top: -9px;
                    &:last-child {
                        margin-left: -14px;
                    }
                }
                .ui-slider-range {
                    position: absolute;
                    background: $orange;
                    height: 5px;
                    @include border-radius(4px);
                }
            }
            .pr-input {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: $com-spacing-6;
                gap: $com-spacing-2;
                .input-box {
                    position: relative;
                    @include flex;
                    background: $white;
                    border: 1px solid #757575;
                    border-radius: 8px;
                    overflow: hidden;
                    padding: $com-spacing-2;
                    .currency {
                        font-size: 14px;
                        text-transform: uppercase;
                        line-height: 1;
                    }
                }
                input {
                    outline: $none;
                    outline-style: $none;
                    color: $blak;
                    width: $fullwidth;
                    height: $fullwidth;
                    line-height: 12px;
                    background: $white;
                    text-align: $right;
                    color: #757575;
                    font-size: 14px;
                }
            }
            h4.title {
                font-size: 24px;
                color: $orange;
            }
            .accordion {
                width: $fullwidth;
                margin-top: $com-spacing-3;
                .accordion-item {
                    position: relative;
                    border-radius: $zero;
                    border: $zero;
                    .accordion-header {
                        display: flex;
                        align-items: center;
                        position: relative;
                        color: $blak;
                        font-size: 18px;
                        font-weight: 600;
                        cursor: pointer;
                        &:after {
                            content: '';
                            position: absolute;
                            right: $zero;
                            width: 12px;
                            height: 8px;
                            @include transition(all 0.5s ease-in-out 0s);
                            background: url('../images/arrow.svg') no-repeat;
                        }
                        &.active {
                            &:after {
                                rotate: 180deg;
                            }
                        }
                    }
                }
                .accordion-content {
                    display: none;
                }
            }
            .navlist {
                a {
                    display: flex;
                    margin-top: $com-spacing-1;
                    @include transition(all 0.5s ease-in-out 0s);
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
    .item {
        overflow: hidden;
        .rowfilter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: $com-spacing-3;
            margin-bottom: $com-spacing-6;
            .formsearch {
                position: relative;
                display: flex;
                align-items: center;
                width: 400px;
                height: 44px;
                margin: $zero;
                @media (min-width: 1600px) {
                    width: 630px;
                }
                @media (max-width: 1199px) {
                    width: 260px;
                }
                @media (max-width: 999px) {
                    width: $fullwidth;
                }
                .form-control {
                    width: $fullwidth;
                    height: $fullwidth;
                    border-radius: 30px;
                    box-shadow: $none;
                    outline: $none;
                    background: $white;
                    text-transform: $none;
                    padding-right: $com-spacing-8;
                    @media (max-width: 999px) {}
                }
                .btnsearch {
                    @include position(absolute,
                    $top: $com-spacing-1, $right: $com-spacing-2);
                    background: $none;
                    outline: $none;
                    outline-style: $none;
                    border: $zero;
                    cursor: pointer;
                    svg {
                        width: 24px;
                        height: 24px;
                        fill: $orange;
                        @include transition(all 0.5s ease-in-out 0s);
                    }
                }
            }
            .flex {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: $com-spacing-3;
                .showlist {
                    @include flex;
                    min-width: 44px;
                    height: 44px;
                    border: 1px solid $orange;
                    border-radius: 0.375rem;
                    cursor: pointer;
                }
                .showmap {
                    display: flex;
                    align-items: center;
                    gap: $com-spacing-2;
                    text-transform: capitalize;
                    cursor: pointer;
                }
                .sort,
                .store {
                    display: flex;
                    align-items: center;
                    position: relative;
                    min-width: 112px;
                    svg {
                        position: absolute;
                        left: $com-spacing-1;
                    }
                }
                .form-control {
                    background: #F6F1EA url(../images/arrow.svg) right 12px center no-repeat !important;
                    border: 1px solid #E0DBD5;
                    padding-left: 40px;
                    height: 44px;
                    option {
                        padding: 0 !important;
                    }
                }
                .store {
                    min-width: 178px;
                    svg {
                        left: $com-spacing-3;
                    }
                }
            }
        }
        .sliditems {
            position: relative;
            max-width: 480px;
            height: 72px;
            margin-top: $com-spacing-6;
            @media (max-width: 999px) {
                margin-top: $com-spacing-3;
                max-width: $fullwidth;
            }
        }
        .slider-brands {
            @include styleslider;
            .slick-list {
                margin: $zero !important;
                @media (max-width: 999px) {}
            }
            .subitem {
                display: inline-block;
                text-align: center;
                vertical-align: top;
                img {
                    border-radius: 50%;
                    border: 1px solid #F1F1F1;
                    width: 72px;
                    height: 72px;
                }
            }
        }
        .rowbox {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $com-spacing-3;
            margin-top: $com-spacing-6;
            @media (max-width: 1199px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 999px) {
                margin-top: $com-spacing-3;
            }
            @media (max-width:550px) {
                grid-template-columns: repeat(1, 1fr);
            }
            .itemrow {
                background: $white;
                border: 1px solid #E0DBD5;
                box-shadow: 0px 16px 22px 0px #00000008;
                border-radius: 10px;
                overflow: hidden;
                .photo {
                    display: block;
                    width: $fullwidth;
                    height: 380px;
                    padding: $com-spacing-2;
                    background: #EFEFEF;
                    border-radius: 10px;
                    overflow: hidden;
                    @media (max-width: 999px) {
                        height: 280px;
                    }
                    img {
                        width: $fullwidth;
                        height: $fullwidth;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                }
                .contant {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: $com-spacing-3;
                    padding: $com-spacing-2;
                    .title {
                        font-size: 22px;
                        font-weight: 500;
                    }
                    p {
                        color: #ADADAD;
                    }
                    span {
                        color: $orange;
                    }
                    .logo {
                        border-radius: 50%;
                        border: 1px solid $orange;
                        min-width: 60px;
                        height: 60px;
                        overflow: hidden;
                        img {
                            width: $fullwidth;
                            height: $fullwidth;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .mapitem {
            width: $fullwidth;
            height: 600px;
            background: #ccc;
            display: none;
            margin-top: $com-spacing-6;
        }
    }
}

.item-offers {
    .sliditems {
        position: relative;
        height: 154px;
        @media (max-width: 999px) {}
    }
    .slider-offers {
        @include styleslider;
        .slick-list {
            @media (max-width: 999px) {}
        }
        .subitem {
            display: inline-block;
            margin: $zero $com-spacing-2;
            border-radius: 40px;
            height: 154px;
            vertical-align: top;
            overflow: hidden;
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
            }
        }
    }
    .itemtime {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $com-spacing-3;
        width: $fullwidth;
        border-radius: 20px;
        padding: $com-spacing-5;
        margin-bottom: $com-spacing-6;
        background: #F6F1EA;
        @media (max-width: 999px) {
            display: block;
            margin-bottom: $com-spacing-3;
            text-align: center;
        }
        .title {
            display: flex;
            align-items: center;
            gap: $com-spacing-2;
            color: $orange;
            @media (max-width: 999px) {
                font-size: 22px;
                justify-content: center;
            }
        }
        .seeall {
            color: $orange;
            text-transform: capitalize;
            &:hover {
                text-decoration: underline
            }
        }
        .flex {
            display: flex;
            align-items: center;
            gap: $com-spacing-3;
            @media (max-width: 999px) {
                justify-content: center;
                margin: $com-spacing-3 $zero;
            }
            .title {
                @media (max-width: 999px) {
                    font-size: 14px;
                }
            }
            .counter {
                display: flex;
                align-items: center;
                gap: $com-spacing-3;
                .it-counter {
                    display: flex;
                    align-items: center;
                    gap: $com-spacing-3;
                    span {
                        color: $orange;
                        font-size: 50px;
                        font-weight: 800;
                        @media (max-width: 999px) {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}

.flash-sales {
    .sliditems {
        position: relative;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            margin-top: $com-spacing-3;
        }
    }
    .slider-sales {
        @include styleslider;
        .slick-list {
            @media (max-width: 999px) {}
        }
        .slick-prev,
        .slick-next {
            top: -65px;
            @media (max-width: 1199px) {
                display: none !important;
            }
        }
        .slick-prev {
            left: auto;
            right: 50px;
        }
        .itemrow {
            display: inline-block;
            margin: $zero $com-spacing-2;
            background: $white;
            border: 1px solid #E0DBD5;
            box-shadow: 0px 16px 22px 0px #00000008;
            border-radius: 10px;
            vertical-align: top;
            overflow: hidden;
            .photo {
                display: block;
                width: $fullwidth;
                height: 380px;
                padding: $com-spacing-2;
                background: #EFEFEF;
                border-radius: 10px;
                overflow: hidden;
                @media (max-width: 999px) {
                    height: 280px;
                }
                img {
                    width: $fullwidth;
                    height: $fullwidth;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }
            .contant {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: $com-spacing-3;
                padding: $com-spacing-2;
                .title {
                    font-size: 22px;
                    font-weight: 500;
                }
                p {
                    color: #ADADAD;
                }
                span {
                    color: $orange;
                }
                .logo {
                    border-radius: 50%;
                    border: 1px solid $orange;
                    min-width: 60px;
                    height: 60px;
                    overflow: hidden;
                    img {
                        width: $fullwidth;
                        height: $fullwidth;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.snap-deals {
    .sliditems {
        position: relative;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            margin-top: $com-spacing-3;
        }
    }
    .slider-deals {
        @include styleslider;
        .slick-list {
            @media (max-width: 999px) {}
        }
        .slick-prev,
        .slick-next {
            top: -65px;
            @media (max-width: 1199px) {
                display: none !important;
            }
        }
        .slick-prev {
            left: auto;
            right: 50px;
        }
        .itemrow {
            position: relative;
            display: inline-block;
            margin: $zero $com-spacing-2;
            background: $white;
            border: 1px solid #E0DBD5;
            vertical-align: top;
            box-shadow: 0px 16px 22px 0px #00000008;
            border-radius: 10px;
            overflow: hidden;
            .addfavorite {
                position: absolute;
                top: $com-spacing-5;
                left: $com-spacing-5;
                @include flex;
                width: 48px;
                height: 48px;
                background: $orange;
                @include border-radius(50%);
                cursor: pointer;
                box-shadow: 10px 5px 40px #6b6b6b1f;
                @include transition(all 0.2s ease-in-out 0s);
                cursor: pointer;
                &:hover {
                    .tooltip-text {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                &.active {
                    background: $white;
                    svg {
                        path {
                            fill: $orange;
                        }
                    }
                }
                svg {
                    width: 24px;
                    height: 24px;
                    path {
                        fill: $white;
                    }
                }
                .tooltip-text {
                    visibility: hidden;
                    position: absolute;
                    left: 60px;
                    font-size: 14px;
                    padding: $com-spacing-1 $com-spacing-2;
                    min-width: 110px;
                    opacity: 0;
                    transition: opacity 0.3s;
                    color: $white;
                    background: $blak;
                    text-transform: capitalize;
                    white-space: nowrap;
                    text-align: center;
                    border-radius: 4px;
                    box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 8px;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 42%;
                        left: -8px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: $blak transparent transparent transparent;
                        rotate: 90deg;
                    }
                }
            }
            .photo {
                display: block;
                width: $fullwidth;
                height: 380px;
                padding: $com-spacing-2;
                background: #F6EFD9;
                border-radius: 10px;
                overflow: hidden;
                @media (max-width: 999px) {
                    height: 280px;
                }
                img {
                    width: $fullwidth;
                    height: $fullwidth;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }
            .inner {
                padding: $com-spacing-2;
                .title {
                    font-size: 22px;
                    font-weight: 500;
                }
            }
            .textend {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: $com-spacing-2;
                margin-top: $com-spacing-2;
                span {
                    @include flex;
                    border: 1px solid #E0DBD5;
                    border-radius: 30px;
                    color: $orange;
                    font-weight: 600;
                    padding: $com-spacing-1 $com-spacing-3;
                }
                p {
                    font-weight: 600;
                    text-transform: capitalize;
                }
            }
            .contant {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: $com-spacing-3;
                padding: $com-spacing-2;
                border: 0.8px solid #0000001A;
                border-radius: 10px;
                margin-top: $com-spacing-2;
                &.green {
                    background: #22C55E0D;
                }
                .flex {
                    display: flex;
                    align-items: center;
                    gap: $com-spacing-1;
                    .logo {
                        border-radius: 50%;
                        border: 1px solid #F1F1F1;
                        min-width: 40px;
                        max-width: 40px;
                        height: 40px;
                        overflow: hidden;
                        img {
                            width: $fullwidth;
                            height: $fullwidth;
                            object-fit: cover;
                        }
                    }
                    .title {
                        display: flex;
                        align-items: center;
                        gap: $com-spacing-2;
                        font-size: 14px;
                        font-weight: 500;
                        span {
                            @include flex;
                            color: #22C55E;
                            font-size: 12px;
                            font-weight: 500;
                            background: #22C55E1A;
                            border: 0.8px solid #22C55E4D;
                            padding: $zero $com-spacing-1;
                            border-radius: 6px;
                        }
                    }
                    p {
                        display: flex;
                        align-items: center;
                        gap: $com-spacing-2;
                        color: #717182;
                        font-size: 12px;
                        line-height: 16px;
                        svg {
                            min-width: 9px;
                            max-width: 9px;
                            height: 9px;
                        }
                    }
                }
                .price {
                    color: $blak;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
    .bottoms {
        display: flex;
        align-items: center;
        gap: $com-spacing-3;
        padding-top: $com-spacing-2;
        border-top: 1px solid #E0DBD5;
        margin-top: $com-spacing-3;
        .bottom {
            display: flex;
            align-items: center;
            flex: 1;
            gap: $com-spacing-1;
            padding: $com-spacing-2;
            &:first-child {
                background: $white;
                border: 1px solid #E0DBD5;
                color: $blak;
                &:hover {
                    border: 1px solid $orange;
                    color: $orange;
                }
            }
        }
    }
}

.item-coupouns {
    .headtitle {
        .seeall {
            display: block !important;
            margin: $zero;
        }
    }
    .scroll-box-wrapper {
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            margin-top: $com-spacing-3;
        }
        .scroll-box {
            justify-content: flex-start;
            a {
                border: 1px solid #E0DBD5;
                color: $blak;
                min-width: inherit;
                padding: $com-spacing-2 $com-spacing-3;
                &.active,
                &:hover {
                    border: 1px solid $orange;
                    color: $white;
                }
            }
        }
    }
    .rowbox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $com-spacing-3;
        margin-top: $com-spacing-6;
        @media (max-width: 1199px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 999px) {
            margin-top: $com-spacing-3;
        }
        @media (max-width:550px) {
            grid-template-columns: repeat(1, 1fr);
        }
        .item {
            position: relative;
            background: #F6F1EA;
            border: 1px solid #E0DBD5;
            border-radius: 30px;
            padding: $com-spacing-3;
            padding-bottom: $com-spacing-6;
            &::before {
                content: "";
                position: absolute;
                top: -1px;
                left: $zero;
                width: $fullwidth;
                height: 21px;
                background: url("../images/uns.jpg") no-repeat top center;
            }
            .photo {
                display: block;
                width: $fullwidth;
                height: 114px;
                background: $orange;
                border-radius: 10px;
                margin-top: $com-spacing-6;
                overflow: hidden;
                img {
                    width: $fullwidth;
                    height: $fullwidth;
                    object-fit: cover;
                }
            }
            .boxborder {
                border-top: 2px dashed $white;
                margin-top: $com-spacing-3;
            }
            .title {
                display: block;
                font-size: 22px;
                font-weight: 500;
                margin-top: $com-spacing-3;
            }
            p {
                color: $blak;
            }
            .copy-box {
                display: flex;
                align-items: center;
                width: $fullwidth;
                margin-top: $com-spacing-3;
                .copy-text {
                    flex: 1;
                    border: 1px solid $blak;
                    border-right: $zero;
                    padding: $com-spacing-2;
                    text-transform: capitalize;
                }
                .copy-btn {
                    @include flex;
                    flex: 1;
                    border: 1px solid $orange;
                    background: $orange;
                    color: $white;
                    padding: $com-spacing-2;
                    text-transform: capitalize;
                    cursor: pointer;
                }
            }
        }
    }
}