.overlaybox {
    position: fixed;
    inset: $zero;
    width: $fullwidth;
    height: $fullwidth;
    background: #000000cc;
    opacity: 0;
    visibility: hidden;
    @include transition(all 0.5s ease-in-out 0s);
    z-index: 1003;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.scroll-box-wrapper {
    @include scroll;
}

.item-offers {
    .sliditems {
        position: relative;
        height: 154px;
        @media (max-width: 999px) {}
    }
    .slider-offers {
        @include styleslider;
        .slick-list {
            @media (max-width: 999px) {}
        }
        .subitem {
            display: inline-block;
            margin: $zero $com-spacing-2;
            border-radius: 40px;
            height: 154px;
            vertical-align: top;
            overflow: hidden;
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
            }
        }
    }
    .itemtime {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $com-spacing-3;
        width: $fullwidth;
        border-radius: 20px;
        padding: $com-spacing-5;
        margin-bottom: $com-spacing-6;
        background: #F6F1EA;
        @media (max-width: 999px) {
            display: block;
            margin-bottom: $com-spacing-3;
            text-align: center;
        }
        .title {
            display: flex;
            align-items: center;
            gap: $com-spacing-2;
            color: $orange;
            @media (max-width: 999px) {
                font-size: 22px;
                justify-content: center;
            }
        }
        .seeall {
            color: $orange;
            text-transform: capitalize;
            &:hover {
                text-decoration: underline
            }
        }
        .flex {
            display: flex;
            align-items: center;
            gap: $com-spacing-3;
            @media (max-width: 999px) {
                justify-content: center;
                margin: $com-spacing-3 $zero;
            }
            .title {
                @media (max-width: 999px) {
                    font-size: 14px;
                }
            }
            .counter {
                display: flex;
                align-items: center;
                gap: $com-spacing-3;
                .it-counter {
                    display: flex;
                    align-items: center;
                    gap: $com-spacing-3;
                    span {
                        color: $orange;
                        font-size: 50px;
                        font-weight: 800;
                        @media (max-width: 999px) {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}

.flash-sales {
    .sliditems {
        position: relative;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            margin-top: $com-spacing-3;
        }
    }
    .slider-sales {
        @include styleslider;
        .slick-list {
            @media (max-width: 999px) {}
        }
        .slick-prev,
        .slick-next {
            top: -65px;
            @media (max-width: 1199px) {
                display: none !important;
            }
        }
        .slick-prev {
            left: auto;
            right: 50px;
        }
        .itemrow {
            display: inline-block;
            margin: $zero $com-spacing-2;
            background: $white;
            border: 1px solid #E0DBD5;
            box-shadow: 0px 16px 22px 0px #00000008;
            border-radius: 10px;
            vertical-align: top;
            overflow: hidden;
            .photo {
                display: block;
                width: $fullwidth;
                height: 380px;
                padding: $com-spacing-2;
                background: #EFEFEF;
                border-radius: 10px;
                overflow: hidden;
                @media (max-width: 999px) {
                    height: 280px;
                }
                img {
                    width: $fullwidth;
                    height: $fullwidth;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }
            .contant {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: $com-spacing-3;
                padding: $com-spacing-2;
                .title {
                    font-size: 22px;
                    font-weight: 500;
                    &:hover {
                        color: $orange;
                    }
                }
                p {
                    color: #ADADAD;
                }
                span {
                    color: $orange;
                }
                .logo {
                    border-radius: 50%;
                    border: 1px solid $orange;
                    min-width: 60px;
                    height: 60px;
                    overflow: hidden;
                    img {
                        width: $fullwidth;
                        height: $fullwidth;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.snap-deals {
    .sliditems {
        position: relative;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            margin-top: $com-spacing-3;
        }
    }
    .slider-deals {
        @include styleslider;
        .slick-list {
            @media (max-width: 999px) {}
        }
        .slick-prev,
        .slick-next {
            top: -65px;
            @media (max-width: 1199px) {
                display: none !important;
            }
        }
        .slick-prev {
            left: auto;
            right: 50px;
        }
        .itemrow {
            position: relative;
            display: inline-block;
            margin: $zero $com-spacing-2;
            background: $white;
            border: 1px solid #E0DBD5;
            vertical-align: top;
            box-shadow: 0px 16px 22px 0px #00000008;
            border-radius: 10px;
            overflow: hidden;
            .addfavorite {
                position: absolute;
                top: $com-spacing-5;
                left: $com-spacing-5;
                @include flex;
                width: 48px;
                height: 48px;
                background: $orange;
                @include border-radius(50%);
                box-shadow: 10px 5px 40px #6b6b6b1f;
                @include transition(all 0.2s ease-in-out 0s);
                cursor: pointer;
                &:hover {
                    .tooltip-text {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                &.active {
                    background: $white;
                    svg {
                        path {
                            fill: $orange;
                        }
                    }
                }
                svg {
                    width: 24px;
                    height: 24px;
                    path {
                        fill: $white;
                    }
                }
                .tooltip-text {
                    visibility: hidden;
                    position: absolute;
                    left: 60px;
                    font-size: 14px;
                    padding: $com-spacing-1 $com-spacing-2;
                    min-width: 110px;
                    opacity: 0;
                    transition: opacity 0.3s;
                    color: $white;
                    background: $blak;
                    text-transform: capitalize;
                    white-space: nowrap;
                    text-align: center;
                    border-radius: 4px;
                    box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 8px;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 42%;
                        left: -8px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: $blak transparent transparent transparent;
                        rotate: 90deg;
                    }
                }
            }
            .photo {
                display: block;
                width: $fullwidth;
                height: 380px;
                padding: $com-spacing-2;
                background: #F6EFD9;
                border-radius: 10px;
                overflow: hidden;
                @media (max-width: 999px) {
                    height: 280px;
                }
                img {
                    width: $fullwidth;
                    height: $fullwidth;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }
            .inner {
                padding: $com-spacing-2;
                .title {
                    font-size: 22px;
                    font-weight: 500;
                    &:hover {
                        color: $orange;
                    }
                }
            }
            .textend {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: $com-spacing-2;
                margin-top: $com-spacing-2;
                span {
                    @include flex;
                    border: 1px solid #E0DBD5;
                    border-radius: 30px;
                    color: $orange;
                    font-weight: 600;
                    padding: $com-spacing-1 $com-spacing-3;
                }
                p {
                    font-weight: 600;
                    text-transform: capitalize;
                }
            }
            .contant {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: $com-spacing-3;
                padding: $com-spacing-2;
                border: 0.8px solid #0000001A;
                border-radius: 10px;
                margin-top: $com-spacing-2;
                &.green {
                    background: #22C55E0D;
                }
                .flex {
                    display: flex;
                    align-items: center;
                    gap: $com-spacing-1;
                    .logo {
                        border-radius: 50%;
                        border: 1px solid #F1F1F1;
                        min-width: 40px;
                        max-width: 40px;
                        height: 40px;
                        overflow: hidden;
                        img {
                            width: $fullwidth;
                            height: $fullwidth;
                            object-fit: cover;
                        }
                    }
                    .title {
                        display: flex;
                        align-items: center;
                        gap: $com-spacing-2;
                        font-size: 14px;
                        font-weight: 500;
                        span {
                            @include flex;
                            color: #22C55E;
                            font-size: 12px;
                            font-weight: 500;
                            background: #22C55E1A;
                            border: 0.8px solid #22C55E4D;
                            padding: $zero $com-spacing-1;
                            border-radius: 6px;
                        }
                    }
                    p {
                        display: flex;
                        align-items: center;
                        gap: $com-spacing-2;
                        color: #717182;
                        font-size: 12px;
                        line-height: 16px;
                        svg {
                            min-width: 9px;
                            max-width: 9px;
                            height: 9px;
                        }
                    }
                }
                .price {
                    color: $blak;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
    .bottoms {
        display: flex;
        align-items: center;
        gap: $com-spacing-3;
        padding-top: $com-spacing-2;
        border-top: 1px solid #E0DBD5;
        margin-top: $com-spacing-3;
        .bottom {
            display: flex;
            align-items: center;
            flex: 1;
            gap: $com-spacing-1;
            padding: $com-spacing-2;
            &:first-child {
                background: $white;
                border: 1px solid #E0DBD5;
                color: $blak;
                &:hover {
                    border: 1px solid $orange;
                    color: $orange;
                }
            }
        }
    }
}

.item-coupouns {
    .headtitle {
        .seeall {
            display: block !important;
            margin: $zero;
        }
    }
    .scroll-box-wrapper {
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            margin-top: $com-spacing-3;
        }
        .scroll-box {
            justify-content: flex-start;
            &.listlinks {
                a {
                    border: 1px solid #E0DBD5;
                    color: $blak;
                    min-width: inherit;
                    padding: $com-spacing-2 $com-spacing-3;
                    &.active,
                    &:hover {
                        border: 1px solid $orange;
                        color: $white;
                    }
                }
            }
        }
    }
    .rowbox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $com-spacing-3;
        margin-top: $com-spacing-6;
        @media (max-width: 1199px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 999px) {
            margin-top: $com-spacing-3;
        }
        @media (max-width:550px) {
            grid-template-columns: repeat(1, 1fr);
        }
        .item {
            position: relative;
            background: #F6F1EA;
            border: 1px solid #E0DBD5;
            border-radius: 30px;
            padding: $com-spacing-3;
            padding-bottom: $com-spacing-6;
            &::before {
                content: "";
                position: absolute;
                top: -1px;
                left: $zero;
                width: $fullwidth;
                height: 21px;
                background: url("../images/uns.jpg") no-repeat top center;
            }
            .photo {
                display: block;
                width: $fullwidth;
                height: 114px;
                background: $orange;
                border-radius: 10px;
                margin-top: $com-spacing-6;
                overflow: hidden;
                img {
                    width: $fullwidth;
                    height: $fullwidth;
                    object-fit: cover;
                }
            }
            .boxborder {
                border-top: 2px dashed $white;
                margin-top: $com-spacing-3;
            }
            .title {
                display: block;
                font-size: 22px;
                font-weight: 500;
                margin-top: $com-spacing-3;
                &:hover {
                    color: $orange;
                }
            }
            p {
                color: $blak;
            }
            .copy-box {
                display: flex;
                align-items: center;
                width: $fullwidth;
                margin-top: $com-spacing-3;
                .copy-text {
                    flex: 1;
                    border: 1px solid $blak;
                    border-right: $zero;
                    padding: $com-spacing-2;
                    text-transform: capitalize;
                }
                .copy-btn {
                    @include flex;
                    flex: 1;
                    border: 1px solid $orange;
                    background: $orange;
                    color: $white;
                    padding: $com-spacing-2;
                    text-transform: capitalize;
                    cursor: pointer;
                }
            }
        }
    }
}

.item-realestate {
    .headtitle {
        .seeall {
            display: block !important;
            margin: $zero;
        }
    }
    .scroll-box-wrapper {
        .scroll-box {
            justify-content: flex-start;
            &.listlinks {
                a {
                    border: 1px solid #E0DBD5;
                    color: $blak;
                    min-width: inherit;
                    padding: $com-spacing-2 $com-spacing-3;
                    &.active,
                    &:hover {
                        border: 1px solid $orange;
                        color: $white;
                    }
                }
            }
        }
    }
    .sliditems {
        position: relative;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            margin-top: $com-spacing-3;
        }
    }
    .slider-realestate {
        @include styleslider;
        .slick-list {
            @media (max-width: 999px) {}
        }
        .slick-prev,
        .slick-next {
            top: -48px;
            @media (max-width: 1199px) {
                display: none !important;
            }
        }
        .slick-prev {
            left: auto;
            right: 50px;
        }
        .itemrow {
            position: relative;
            display: inline-block;
            margin: $zero $com-spacing-2;
            background: $white;
            border: 1px solid #E0DBD5;
            vertical-align: top;
            overflow: hidden;
            .rent,
            .sell {
                position: absolute;
                top: $com-spacing-5;
                left: $com-spacing-5;
                min-width: 65px;
                @include flex;
                border: 4px solid #FFC9BC;
                color: $white;
                background: #FF8A6F;
                text-transform: capitalize;
                padding: 2px $com-spacing-3;
                @include border-radius(5px);
                cursor: pointer;
            }
            .sell {
                background: #ED1C24;
                border: 4px solid #FA7F84;
            }
            .photo {
                display: block;
                width: $fullwidth;
                height: 220px;
                background: #F6EFD9;
                overflow: hidden;
                img {
                    width: $fullwidth;
                    height: $fullwidth;
                    object-fit: cover;
                }
            }
            .inner {
                padding: $com-spacing-3;
                .price {
                    display: flex;
                    align-items: center;
                    gap: $com-spacing-1;
                    color: $orange;
                    font-weight: 600;
                    span {
                        font-size: 14px;
                        font-weight: 500;
                        color: #9DA7B0;
                    }
                }
                .title {
                    font-size: 18px;
                    margin-top: $com-spacing-2;
                    &:hover {
                        color: $orange;
                    }
                }
            }
            .textend {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: $com-spacing-2;
                color: $orange;
                font-weight: 600;
                margin-top: $com-spacing-2;
                text-transform: capitalize;
            }
            .list {
                @include flex;
                gap: $com-spacing-6;
                margin-top: $com-spacing-3;
                padding: $com-spacing-3 $zero;
                border-block: 1px solid #D5DCE1;
                li {
                    display: flex;
                    align-items: center;
                    gap: $com-spacing-1;
                    color: $blak;
                    font-size: 14px;
                    text-transform: capitalize;
                }
            }
        }
    }
    .bottoms {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $com-spacing-3;
        margin-top: $com-spacing-3;
        .bottom {
            flex: 1;
            padding: $com-spacing-2;
            border-radius: 4px;
        }
        .whatsapp,
        .phone {
            @include flex;
            min-width: 66px;
            max-width: 66px;
            height: 48px;
            border: 1px solid #20B038;
            border-radius: 4px;
            @media (max-width: 999px) {
                min-width: 56px;
                max-width: 56px;
            }
        }
        .phone {
            border: 1px solid #439CFE;
        }
    }
}

.item-discounts {
    .item {
        display: flex;
        gap: $com-spacing-6;
        margin: $zero $auto;
        width: 999px;
        border-radius: 40px;
        padding: $com-spacing-7;
        background: #F6F1EA;
        @media (max-width: 999px) {
            display: block;
            width: $fullwidth;
            padding: $com-spacing-6;
        }
        .inner {
            p {
                color: #6B2211;
                font-size: 18px;
                margin-top: $com-spacing-3;
            }
            ul {
                margin-top: $com-spacing-3;
                li {
                    display: flex;
                    gap: $com-spacing-2;
                    margin-top: $com-spacing-6;
                    color: #6B2211;
                    font-weight: 600;
                }
            }
            .opportun {
                margin-top: $com-spacing-8;
                p {
                    color: #2D2D2D;
                }
                nav {
                    display: flex;
                    align-items: center;
                    gap: $com-spacing-3;
                    flex-wrap: wrap;
                    margin-top: $com-spacing-6;
                    @media (max-width: 999px) {
                        justify-content: center;
                    }
                    a {
                        img {
                            max-width: 180px;
                        }
                    }
                }
            }
        }
        .subinner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: $com-spacing-6;
            @media (max-width: 999px) {
                margin-top: $com-spacing-6;
            }
            .logo {
                display: flex;
                justify-content: center;
                img {
                    max-width: 300px;
                }
            }
        }
    }
}