.overlaybox {
    position: fixed;
    inset: $zero;
    width: $fullwidth;
    height: $fullwidth;
    background: #000000cc;
    opacity: 0;
    visibility: hidden;
    @include transition(all 0.5s ease-in-out 0s);
    z-index: 1003;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.hero-section {
    .container {
        display: grid;
        grid-template-columns: 218px 1fr;
        gap: $com-spacing-4;
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
        }
    }
    .iconfilter {
        display: none;
        gap: $com-spacing-1;
        background: #e5e5e5;
        padding: $com-spacing-1 $com-spacing-4;
        border-radius: 60px;
        max-width: 120px;
        text-transform: capitalize;
        @include transition(all 0.5s ease-in-out 0s);
        cursor: pointer;
        @media (max-width: 999px) {
            @include flex;
        }
        &:hover {
            background: #ccc;
        }
        svg {
            width: 20px;
            height: 20px;
        }
    }
    .sidebar {
        position: relative;
        padding-right: $com-spacing-3;
        border-right: 1px solid #E0DBD5;
        @include transition(all 0.5s ease-in-out 0s);
        .close-sidebar {
            position: absolute;
            right: $com-spacing-3;
            top: $com-spacing-3;
            display: none;
            cursor: pointer;
            color: $red;
            font-size: 40px;
            z-index: 10;
        }
        @media (max-width: 999px) {
            position: fixed;
            width: 280px;
            height: $fullwidth;
            left: -100%;
            top: $zero;
            background: $white;
            padding: $com-spacing-3;
            overflow: hidden;
            overflow-y: scroll;
            z-index: 1004;
            &.active {
                left: $zero;
            }
            .close-sidebar {
                display: block;
            }
        }
        .itemfilter {
            margin-bottom: $com-spacing-4;
            &:last-child {
                margin: $zero;
            }
            .title {
                font-size: 18px;
            }
            .che-box {
                display: block;
                margin-top: $com-spacing-2 !important;
            }
            &.nearest {
                background: #F0FDF4;
                border: 1px solid #B9F8CF;
                padding: $com-spacing-4;
                border-radius: 10px;
                .title {
                    display: flex;
                    align-items: center;
                    gap: $com-spacing-2;
                    font-size: 14px;
                    color: #0D542B;
                    svg {
                        min-width: 16px;
                    }
                }
                p {
                    font-size: 14px;
                    color: #016630;
                }
                span {
                    display: block;
                    line-height: 1;
                    font-size: 12px;
                    color: #00A63E;
                    margin-top: $com-spacing-1;
                }
            }
            .stylebar {
                position: relative;
                margin: auto;
                width: $fullwidth;
                height: 5px;
                background: #e9e9e9;
                @include border-radius(5px);
                margin-top: $com-spacing-4;
                .ui-slider-handle {
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    @include border-radius(50%);
                    background: $orange;
                    border: 3px solid #E5EBFC;
                    cursor: pointer;
                    outline: $none;
                    margin-top: -9px;
                    &:last-child {
                        margin-left: -14px;
                    }
                }
                .ui-slider-range {
                    position: absolute;
                    background: $orange;
                    height: 5px;
                    @include border-radius(4px);
                }
            }
            .pr-input {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: $com-spacing-6;
                gap: $com-spacing-2;
                .input-box {
                    position: relative;
                    @include flex;
                    background: $white;
                    border: 1px solid #757575;
                    border-radius: 8px;
                    overflow: hidden;
                    padding: $com-spacing-2;
                    .currency {
                        font-size: 14px;
                        text-transform: uppercase;
                        line-height: 1;
                    }
                }
                input {
                    outline: $none;
                    outline-style: $none;
                    color: $blak;
                    width: $fullwidth;
                    height: $fullwidth;
                    line-height: 12px;
                    background: $white;
                    text-align: $right;
                    color: #757575;
                    font-size: 14px;
                }
            }
            h4.title {
                font-size: 24px;
                color: $orange;
            }
            .accordion {
                width: $fullwidth;
                margin-top: $com-spacing-3;
                .accordion-item {
                    position: relative;
                    border-radius: $zero;
                    border: $zero;
                    .accordion-header {
                        display: flex;
                        align-items: center;
                        position: relative;
                        color: $blak;
                        font-size: 18px;
                        font-weight: 600;
                        cursor: pointer;
                        &:after {
                            content: '';
                            position: absolute;
                            right: $zero;
                            width: 12px;
                            height: 8px;
                            @include transition(all 0.5s ease-in-out 0s);
                            background: url('../images/arrow.svg') no-repeat;
                        }
                        &.active {
                            &:after {
                                rotate: 180deg;
                            }
                        }
                    }
                }
                .accordion-content {
                    display: none;
                }
            }
            .navlist {
                a {
                    display: flex;
                    margin-top: $com-spacing-1;
                    @include transition(all 0.5s ease-in-out 0s);
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
    .item {
        overflow: hidden;
        .categories {
            // &::-webkit-scrollbar {
            //     height: 5px;
            // }
        }
        .scroll-box-wrapper {
            position: relative;
            width: $fullwidth;
            .scroll-box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: $com-spacing-2;
                overflow-x: auto;
                scroll-behavior: smooth;
                scrollbar-width: none;
                cursor: grab;
                user-select: none;
            }
            &::-webkit-scrollbar {
                display: none;
            }
            a {
                min-width: 105px;
                text-align: center;
                color: #727272;
                padding: $com-spacing-3;
                border-radius: 20px;
                text-transform: capitalize;
                @include transition(all 0.5s ease-in-out 0s);
                &:hover,
                &.active {
                    background: $orange;
                    color: $white;
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                }
                svg {
                    display: block;
                    margin: $zero $auto;
                    width: 32px;
                    height: 32px;
                    path {
                        @include transition(all 0.5s ease-in-out 0s);
                    }
                }
            }
        }
        .arrow {
            @include flex;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: $white;
            box-shadow: 0px 0px 10px #00000026;
            color: #000;
            border: none;
            font-size: 24px;
            cursor: pointer;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            z-index: 5;
            @include transition(all 0.5s ease-in-out 0s);
            &:hover {
                background: $ofwhite;
            }
        }
        .arrow.left {
            left: $com-spacing-1;
            svg {
                rotate: 88deg;
            }
        }
        .arrow.right {
            right: $com-spacing-1;
            svg {
                rotate: -88deg;
            }
        }
        .arrow.hidden {
            opacity: 0;
            pointer-events: none;
        }
    }
}