.slider-item {
    padding: $zero !important;
    height: 80vh;
    @media (max-width: 999px) {
        height: 60vh;
    }
    .carousel {
        @include slidercarousel;
    }
    .container {
        display: flex;
        align-items: center;
        position: absolute;
        left: $zero;
        right: $zero;
        top: $zero;
        height: $fullwidth;
        .contant {
            max-width: 50%;
            @media (max-width: 999px) {
                max-width: $fullwidth;
            }
            .title {
                color: $dark;
                font-size: 50px;
                @media (max-width: 999px) {
                    font-size: 30px;
                }
            }
            p {
                font-size: 18px;
                @media (max-width: 999px) {
                    display: none;
                }
            }
            .bottom {
                margin-top: $com-spacing-4;
            }
        }
    }
}

//////////////////////// End Slider